    <header>
      <nav>
        <strong><%= link_to current_user.username, pages_show_path %></strong>
        <%= link_to 'Change your profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </nav>
    </header>
